.col.s6 > .btn {
    width: 100%;
 }

 .container {
   animation: showUp 0.5s cubic-bezier(0.18, 1.3, 1, 1) forwards;
 }
 
 @keyframes showUp {
   0% {
     transform: scale(0);
   }
   100% {
     transoform: scale(1);
   }
 }
 .row {margin-bottom: 10px;}
 
 .ngl {
   top: -20px;
   right: -20px;
 }

 legend{
    font-size: 1.5em;
    color: #545454;
    margin: 0px 20px 0px 20px;
 }
 
 reg-form{
    position: center;
 }

 legend {
    position: relative;

    padding: 5px 20px;
    color: #545454;
    font-size: 18px;
    text-align: center;
}

fieldset {
  border: 1px solid rgb(44, 44, 44);
      width: 70%;
      position: center;
      display: block;
      margin: 10px 10%;
     
}


