<div style="text-align: right;">
  <button type="button" name="buttonVolver" class="btn btn-primary"(click)="goBack()">Volver</button>
</div>
<fieldset> 
  <h1>Mis Reservas</h1>
  <br>
<form>
    <div class="container">
      <div class="row">
               <div id="custom-search-input">
           </div>
       </div>
    </div>
    <br>
      </form>
      <br>
      <br>
      <table class="table table-hover">
        <thead>
              <tr>
                <th>ID reserva</th>
                <th>Nombre reserva</th>
                <th>Nombre evento </th>
                <th>Cantidad de reservas</th>
                <th>Estado de reserva</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let reserva of reservas">
                  <td>{{reserva.idReserva}}</td>
                  <td>{{reserva.nombreEmpresa}}</td>
                  <td>{{reserva.evento.nombre}}</td>
                  <td>{{reserva.cantidadReservas}}</td>
                  <td>{{reserva.estadoReserva}}</td>
                  <td></td>
                  <td><button type="button" name="button" class="btn btn-primary" [routerLink]="['/comprobanteDePago', reserva.idReserva]" [skipLocationChange]="true" >Subir comprobante de pago</button></td>
                  <td><button type="button" name="button" class="btn btn-primary" [routerLink]="['/cliente/cancelarReserva', reserva.idReserva]" [skipLocationChange]="true" >Cancelar reserva</button></td>
                </tr>
                
          </tbody>
      </table>