<div style="text-align: right;">
  <button type="button" name="buttonVolver" class="btn btn-primary"(click)="goBack()">Volver</button>
</div>
<form>
  <h1><i>LISTADO DE EVENTOS</i></h1>
  <br><br>
<div class="container">
	<div class="row">
           <div id="custom-search-input">
   <div class="input-group col-md-12">
        <input type="text" name = "filtrar" class="  search-query form-control" placeholder="Buscar por nombre..." [(ngModel)]="eventoService.filtroEvento" />
             <span class="input-group-btn">
                     <button class="btn btn-danger" type="button">
                       <span class=" glyphicon glyphicon-search"></span>
                     </button>
               </span>
           </div>
       </div>
	 </div>
</div>
<br>
<br>
  </form>
  <table class="table table-hover">
    <thead>
          <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Tipo</th>
            <th>Fecha y hora</th>
            <th>Duracion</th>
            <th>Calle Puerta</th>
            <th>Barrio</th>
            <th>Ciudad</th>
            <th>Nro Cupos</th>
            <th>Precio</th>
            <th>Idioma</th>
            <th>Tipo de asignación</th>
            <th>Criterio de asignación</th>
            <th>Empresa</th>
            <th>Imagen</th>
            <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
            
            <tr *ngFor="let evento of eventos">
              <tr *ngFor="let evento of eventos|filtroEvento: 'nombre' : eventoService.filtroEvento" >
        <!-- <tr *ngFor="let evento of eventos|filtroEvento: 'nombre' : eventoService.filtroEvento" > -->
              <td>{{evento.nombre}}</td>
              <td>{{evento.descripcion}}</td>
              <td>{{evento.tipo}}</td>
              <td>{{evento.fechaHora | date: 'dd/MM/yyyy h:mm a': 'timezone' }}</td> 
              <td>{{evento.duracion}}</td>
              <td>{{evento.callePuerta}}</td>
              <td>{{evento.barrio}}</td>
              <td>{{evento.ciudad}}</td>
              <td>{{evento.nroCupos}}</td>
              <td>{{evento.moneda+evento.precioAsiento}}</td>
              <td>{{evento.idioma}}</td>
              <td>{{evento.tipoAsignacion}}</td>
              <td>{{evento.criterioAsignacion}}</td>
              <td>{{evento.empresaCreadora}}</td>
              <td><img src={{evento.imagenPortada}} width="50" height="50"/></td>
              <td><button type="button" name="button" class="btn btn-primary" [routerLink]="['/evento/editar-evento', evento.eventoId]" [skipLocationChange]="true">Editar</button></td>
              <td><button type="button" name="buttonEliminar" class="btn btn-primary" [routerLink]="['/evento/eliminar-evento', evento.eventoId]" [skipLocationChange]="true">Eliminar</button></td>
                <td><button type="button" name="buttonReservas" class="btn btn-primary" [routerLink]="['/listadoReserva/listadoReserva', evento.eventoId]" [skipLocationChange]="true">Ver Reservas</button></td>
                <td><button type="button" name="buttonReservasActivas" class="btn btn-primary" [routerLink]="['/evento/listado-reservas-activas', evento.eventoId]" [disabled]="deshabilitar(evento)" [skipLocationChange]="true">Realizar Asignación</button></td>
                <td><button type="button" name="buttonAsientosAsignados" class="btn btn-primary" [routerLink]="['/evento/asientos-asignados', evento.eventoId]" [skipLocationChange]="true">Ver asignación de asientos</button></td>

              </tbody>
            
  </table>

