<fieldset> 
    <legend>Reserva de asientos</legend>
    <div>Datos de la reserva</div>
    <div class="row">
    <form [formGroup]="fgValidator" class="col s12" id="reg-form">
       
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="nombreEmpresa" formControlName="nombreEmpresa" type="text" placeholder="Recuerde que será el identificador de la reserva" required>
        <i>Nombre y apellido o Empresa</i>
      </div>
     
      <div class="input-field col s6">
        <i class="material-icons prefix">phone</i>
        <input id="telefono" formControlName="telefono" type="number" required>
      <i>Teléfono</i>
      </div>
   
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input id="email" formControlName="email" type="email" placeholder="Ingrese el correo electronico en el que desee recibir los datos de la/s reserva/s" required>
        <i>Correo electrónico</i>
        </div>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">number</i>
        <input id="cantidadReservas" formControlName="cantidadReservas" type="number" required>
      <i>Cantidad de reservas</i>
      </div>
          <div class="input-field col s">
          <button (click)="Reservar()" class="btn btn-large btn-register waves-effect waves-light" type="button" name="action">Reservar
            <i class="material-icons right" >done</i>
          </button>
              
        </div>
             
    </form>
    
