
<div class="box">
  <section id="event" class="uno">
 <tr *ngFor="let evento of eventos">
       <div class="card">
         <img class="card-img-top" src="assets/imagenes/a.jpg" alt="Card image cap" style="max-width: 150px;">
         <div class="card-body">
         <h6 class="card-title">{{evento.nombre}}</h6>
         <p class="card-text">{{evento.descripcion}}</p>
         <p class="card-text">{{evento.fecha}}</p>
         <p class="card-text">{{evento.ciudad}}</p>
         <a href="/seguridad/iniciarSesion" class="btn btn-primary">Reservar</a>
       </div>
      </div>
 </section>
 
 <section id="about" class="dos">
   <div class="box">
     <div class="description">
     <h5><span>QUIENES SOMOS</span></h5>				
       <span class="et_pb_image_wrap "><img loading="lazy" src="assets/imagenes/a.jpg" alt="" title="nuestra-vision" style="max-width: 150px;"></span>
       <h6>AV es una empresa que trabaja para desarrollar, gestionar y organizar
        cualquier evento o conferencia que requiera sin importar el indole.</h6>
   </div>  
 
       <div class="description">
      <h5><span>NUESTRA MISIÓN</span></h5>
      <span class="et_pb_image_wrap "><img loading="lazy" src="assets/imagenes/a.jpg" alt="" title="nuestra-vision" style="max-width: 150px;"></span>
      <h6>“Como mision nuestra propuesta es brindar una gestion organizada y controlada para
        eventos o conferencias marcada por cualquier empresa u organizacion”.</h6>
     </div>
       
       <div class="description">
         <h5><span>NUESTRA VISIÓN</span></h5>
      <span class="et_pb_image_wrap "><img loading="lazy" src="assets/imagenes/a.jpg" alt="" title="nuestra-vision" style="max-width: 150px;"></span>
       <h6>Ayudar a nuestros clientes a gestionar las reservas para eventos o conferencias.</h6>
     </div>
   </div>
  
 </section>


