


html{
  height: 100%;
  width: 100%;

  }
  body{
  display: flex;
  flex-direction: column;
  width: 100%;
  }
  


.form-horizontal{
  height: 545px;
      width: 680px;
      margin-top: -680px;  
      margin-left: 250px;
      background-color: white ; 
      border: 1px solid rgb(44, 44, 44);
}

.header {
  font-size: 30px;
  padding: 8px;
  margin-left: -10px;
}
.col-md-8{
    margin-left: -40px; 
}
section{   
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
  
    width: 100%;
    }
    
    .dos{
      height: 90%;
      width: 70%;
      display: block;
      align-items: center;
      justify-content: center;
     margin-bottom: 45px;   
     margin-left: 60px;

    }
    
    
.description{
  width: 70%;
  line-height: 160px;
  text-align: center;
  margin-left: 2rem;
  font-size: small;
}
    .box{
      
      margin: 40px auto 0 auto;
      padding: 25px;
      margin-top: 60px;
      margin-bottom: 1rem;
      font-size: small;
    }
    
    .uno{
      height: 680px;
     width: 100%;
    display: inline;
    align-items: center;
    justify-content: center;
    margin-bottom: 42px;
    font-size: small;
    }

  
    .sidenav-trigger{
        display: grid;
      grid-template-columns: auto auto auto auto auto auto;
      gap: 8px;
      background-color: rgb(252, 252, 253);
      padding: 8px;
      
       }
    
 div.card{
    margin-left: 55px;
    padding: 5px;
    width: 14rem;
    height: 450px;
    text-align: center;
    font-size: small;
    background-color:#f3f3fa;
  
}




