


<div class="box">
  <section id="event" class="uno">
 <tr *ngFor="let evento of eventos">
       <div class="card">
         <img class="card-img-top" src="{{evento.imagenPortada}}" alt="Card image cap" style="max-width: 150px;">
         <div class="card-body">
         <h6 class="card-title">{{evento.nombre}}</h6>
         <p class="card-text">{{evento.descripcion}}</p>
         <p class="card-text">+{{evento.fechaHora | date: 'dd/MM/yyyy h:mm a': 'timezone' }}</p>
         <p class="card-text">{{evento.ciudad}}</p>
         <li *ngIf="jwtAuthService.esClienteOInvitado() == true"><a [routerLink]="['/evento/reservar', evento.eventoId]" [skipLocationChange]="true" class="btn btn-primary">Reservar</a></li>
       </div>
      </div>
 </section>

 
 <section id="about" class="dos">
   <div class="box">
     <div class="description">
     <h5><span>QUIENES SOMOS</span></h5>        
       <span class="et_pb_image_wrap "><img loading="lazy" src="assets/imagenes/a.jpg" alt="" title="quienes-somos" style="max-width: 150px;"></span>
       <h6> <font face="Verdana, Arial, Helvetica, sans-serif;">AV es una empresa de asignacion y venta que trabaja para desarrollar, gestionar y organizar
                 cualquier evento, taller o seminario que el cliente requiera.</font></h6>
    </div>  
 
       <div class="description">
      <h5><span>NUESTRA MISIÓN</span></h5>
  
      <span class="et_pb_image_wrap "><img loading="lazy" src="assets/imagenes/a.jpg" alt="" title="nuestra-mision" style="max-width: 150px;"></span>
      <h6><font face="Verdana, Arial, Helvetica, sans-serif;">Como mision nuestra propuesta es brindar una gestion organizada y controlada al momento de distribuir a cada cliente 
        en la mesa y asiento correspondiente al seminario, taller, evento o conferencia que haya reservado.</font></h6>
    </div>
       
       <div class="description">
         <h5><span>NUESTRA VISIÓN</span></h5>
      <span class="et_pb_image_wrap "><img loading="lazy" src="assets/imagenes/a.jpg" alt="" title="nuestra-vision" style="max-width: 150px;"></span>
       <h6><font face="Verdana, Arial, Helvetica, sans-serif;">Ayudar a nuestros clientes a gestionar las reservas para eventos o conferencias.</font></h6>
     </div>
   </div>
 </section>