<div style="text-align: right;">
  <button type="button" name="buttonVolver" class="btn btn-primary" [routerLink]="['/listadoEvento/listadoEvento']">Volver</button>
</div>
<form>
    <h1><i>LISTADO DE RESERVAS APROBADAS</i></h1> 
    <br>
    <br><br>
      </form>
      <table class="table table-hover">
        <thead>
              <tr>
                <th>Nombre reserva</th>
                <th>Nombre evento </th>
                <th>Estado de reserva</th>
                <th>Cantidad de reservas</th>
                
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let reserva of reservasActivas">
                  <td>{{reserva.nombreEmpresa}}</td>
                  <td>{{reserva.evento.nombre}}</td>
                  <td>{{reserva.estadoReserva}}</td>
                  <td>{{reserva.cantidadReservas}}</td>
                 
  
                  <td><button type="button" name="buttonAsignar" class="btn btn-primary" [routerLink]="['/evento/asignacion-manual-asientos', reserva.idReserva]" [skipLocationChange]="true" >Asignar Asientos</button></td>
                 
                  

                </tr>           
          </tbody>
    
      </table>
