<div style="text-align: right;">
    <button type="button" name="buttonVolver" class="btn btn-primary" [routerLink]="['/listadoEvento/listadoEvento']">Volver</button>
  </div>
<formGroup [formGroup]="fgValidator">
    <h1>Asignación manual de asientos</h1>

<br>
<br>
<br>

    <div id="" class="info_group" style="display: block">
        <div class="mesa" id="" style="display: block;">
                
                <div class="col-md-4">
                    <h2>Seleccione la Mesa</h2>
                 <div class="input-field col s6"><br>  
                        <select (change)="mesaSeleccionada()"  name="mesa" id="mesas"  formControlName="mesa" class="form-control" >                                  
                      <option *ngFor= "let mesa of mesas" value="{{mesa.idMesa}}">Mesa {{mesa.nroMesa}}</option>
               
                    </select>
                
              </div>

                
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <h2>Seleccione el o los Asientos</h2>
                    <div class="asientos" id="">
                        <div>

                 
                            <br>
                        </div>
                      
                    <table id="table" style="display: table;"><tbody><tr><td>

                        <tr *ngFor ="let asiento of asientos"> <td> <mat-checkbox #checkBox (change)="asignacion()" value="asiento.nroAsiento" formControlName="asiento{{asiento.nroAsiento}}" name="asiento" class="asientos"> Asiento {{asiento.nroAsiento!}}  </mat-checkbox> </td></tr>
                      
                        </tr></tbody></table></div>
                       
                        
                </div>

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
     
                <button data-dismiss="modal" type="button" class="button" (click)="guardar()">{{valorBoton}}</button>
                <br>
                <button data-dismiss="modal" type="button" class="button" onclick="window.location.href='inicio'">Cancelar</button>
                

              
       
    </div>
</div>
</formGroup>
