<fieldset>
    <legend>Cambio de contraseña</legend>
    <div class="row">

    <form>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">https</i>
          <input id="passAnterior" formControlName="passAnterior" type="password" class="validate" required>
          <label for="name">Ingrese su nueva contraseña</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">https</i>
          <input id="passNueva" type="password" class="validate" required>
          <label for="passNueva">Repita su nueva contraseña</label>
        </div>

     
          <div class="input-field col s">
          <button (click)="cambiarPass" class="btn btn-large btn-cambiarPass waves-effect waves-light" type="button" name="action">Aceptar
            <i class="material-icons right">done</i>
          </button>
        </div>
   </div>
   </form>
    
