<div style="text-align: right;">
  <button type="button" name="buttonVolver" class="btn btn-primary"(click)="goBack()">Volver</button>
</div>
<fieldset>
    <legend>Reseteo de contraseña</legend>
    <div class="row">

    <form [formGroup]="validator">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">https</i>
          <input id="pass" formControlName="pass" type="password" required>
          <label for="pass">Ingrese su nueva contraseña</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">https</i>
          <input id="rePass" formControlName="rePass" type="password" required>
          <label for="rePass">Repita su nueva contraseña</label>
        </div>

     
          <div class="input-field col s">
          <button (click)="cambiarPass()" class="btn btn-large btn-cambiarPass waves-effect waves-light" type="button" name="action">Aceptar
            <i class="material-icons right">done</i>
          </button>
        </div>
   </div>
   </form>
    
