<div style="text-align: right;">
  <button type="button" name="buttonVolver" class="btn btn-primary" [routerLink]="['/listadoEvento/listadoEvento']">Volver</button>
</div>
<fieldset>
    <legend>Editar un evento</legend>
    <div class="row">
    <form [formGroup]="fgValidator" class="col s12" id="evento-form">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">confirmation_number</i>
          <input class="validate"  id="nombre" value="{{evento.nombre}}"
           formControlName="nombre" type="text" required>Nombre del evento
           <label for="nombre" data-error="wrong" data-success="right"></label>
        
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input class="validate" id="descripcion"  value="{{evento.descripcion}}"
           formControlName="descripcion" type="text" required>Descripción
        </div>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">hdr_strong</i>
        <input class="validate" id="tipo"  value="{{evento.tipo}}" formControlName="tipo" type="text" required>Tipo
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">insert_invitation</i>
        <input class="validate" id="fechaHora"  value="{{evento.fechaHora | date: 'dd/MM/yyyy h:mm a': 'timezone' }}" 
        formControlName="fechaHora" type="datetime" required>Fecha
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">timer</i>
        <input class="validate"  id="duracion"  value="{{evento.duracion}}" formControlName="duracion" type="number" required>Duración(horas)
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">location_on</i>
        <input class="validate"  id="callePuerta"  value="{{evento.callePuerta}}" formControlName="callePuerta" type="text" required>Calle y numero de puerta
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">map</i>
        <input class="validate"  id="barrio"  value="{{evento.barrio}}"formControlName="barrio" type="text" required>Barrio
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">location_searching</i>
        <input class="validate"  id="ciudad"  value="{{evento.ciudad}}"formControlName="ciudad" type="text" required>Ciudad
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">supervisor_account</i>
        <input class="validate"  id="cantidadCupos"  value="{{evento.nroCupos}}" formControlName="nroCupos" type="number" required>Cantidad de cupos
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">view_column</i>
        <input class="validate" id="cantidadMesas" value="{{evento.cantidadMesas}}" formControlName="cantidadMesas" type="number" required>Cantidad de mesas
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">view_module</i>
          <input class="validate" id="cantidadAsientosMesa" value="{{evento.cantidadAsientosMesa}}" formControlName="cantidadAsientosMesa" type="number" minlength="1" required>Cantidad de asientos por mesa
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">shopping_cart</i>
          <input class="validate" id="precio" value="{{evento.precioAsiento}}" formControlName="precioAsiento" type="number" required>Precio del asiento
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">translate</i>
          <input class="validate"  id="idioma" value="{{evento.idioma}}"  formControlName="idioma" type="text" minlength="3" required>Idioma
        </div>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">widgets</i>
        <input class="validate"  id="criterioAsignacion" value="{{evento.criterioAsignacion}}" formControlName="criterioAsignacion" type="text" minlength="3" required>Criterio de asignacion de asientos
  
    </div>
    <div class="input-field col s12">
      <i class="material-icons prefix">widgets</i>
      <input class="validate"  id="criterioAsignacion" value="{{evento.empresaCreadora}}" formControlName="empresaCreadora" type="text" minlength="3" required>empresa Creadora

  </div>
      <div class="row">
        <div class="input-field col s12">
      <form action="" method="post" enctype="multipart/form-data" target="_blank">Foto de portada
          <input type="file" value="{{evento.imagenPortada}}"  name="archivosubido" >
        <br><br>
          <div class="input-field col s">
          <button (click)="update()" class="btn btn-large  btn-register waves-effect waves-light" type="button" name="action">Actualizar
            <i class="material-icons right" >done</i>
          </button>
        </div>
    </form>

