<fieldset>
    <legend>Editar un evento</legend>
    <div class="row">
    <form [formGroup]="fgValidator" class="col s12" id="evento-form">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">confirmation_number</i>
          <input id="nombre" value="{{evento.nombre}}"
           formControlName="nombre" type="text">Nombre del evento
        
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="descripcion"  value="{{evento.descripcion}}"
           formControlName="descripcion" type="text">Descripción
        </div>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">hdr_strong</i>
        <input id="tipo"  value="{{evento.tipo}}" formControlName="tipo" type="text">Tipo
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">insert_invitation</i>
        <input id="fecha"  value="{{evento.fecha}}" 
        formControlName="fecha" type="date" >Fecha
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">timer</i>
        <input id="duracion"  value="{{evento.duracion}}" formControlName="duracion" type="number">Duración(horas)
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">location_on</i>
        <input id="callePuerta"  value="{{evento.callePuerta}}" formControlName="callePuerta" type="text" >Calle y numero de puerta
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">map</i>
        <input id="barrio"  value="{{evento.barrio}}" formControlName="barrio" type="text" >Barrio
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">location_searching</i>
        <input id="ciudad"  value="{{evento.ciudad}} "formControlName="ciudad" type="text" >Ciudad
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">supervisor_account</i>
        <input id="cantidadCupos"  value="{{evento.nroCupos}}" formControlName="nroCupos" type="number">Cantidad de cupos
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">view_column</i>
        <input id="cantidadMesas" value="{{evento.cantidadMesas}}" formControlName="cantidadMesas" type="number" >Cantidad de mesas
      </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">view_module</i>
          <input id="cantidadAsientosMesa" value="{{evento.cantidadAsientosMesa}}" formControlName="cantidadAsientosMesa" type="number" minlength="1" >Cantidad de asientos por mesa
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">shopping_cart</i>
          <input id="precio" value="{{evento.precioAsiento}}" formControlName="precioAsiento" type="number" >Precio del asiento
        </div> 
        <div class="input-field col s6"><br>
          <i class="material-icons prefix">translate</i>
          <label for="idioma">Idioma:</label><br>
             <div class="container mt-5">           
            <select  name="idioma" id="idioma" formControlName="idioma" class="form-control">                                  
                  <option value="INGLES">INGLES</option>
                  <option value="ESPANOL">ESPANOL</option>
                  <option value="ALEMAN">ALEMAN</option>
                  <option value="PORTUGUES">PORTUGUES</option>
                  <option value="PORTUGUES">FRANCES</option>
                  <option value="CHINO MANDARIN">CHINO MANDARIN</option>
                </select>
          </div></div>
       
       <div class="input-field col s6"><br>
        <i class="material-icons prefix">widgets</i>
        <label for="criterioAsignacion">Criterio de asignacion de asientos:</label><br>
           <div class="container mt-5">           
          <select  name="estaReserva" id="criterioAsignacion"  formControlName="criterioAsignacion" class="form-control">                                  
                <option value="AUTOMATICO">AUTOMATICO</option>
                <option value="MANUAL">MANUAL</option>
              </select>
        </div></div><br>

    <div class="input-field col s6">
      <i class="material-icons prefix">widgets</i>
      <input id="criterioAsignacion" value="{{evento.empresaCreadora}}" formControlName="empresaCreadora" type="text" minlength="3" >empresa Creadora

  </div>
      <div class="row">
        <div class="input-field col s6">
      <form action="" method="post" enctype="multipart/form-data" target="_blank">Foto de portada
          <input type="file" value="{{evento.imagenPortada}}"  name="archivosubido" >
        <br><br>
          <div class="input-field col s">
          <button (click)="update()" class="btn btn-large  btn-register waves-effect waves-light" type="button" name="action">Actualizar
            <i class="material-icons right" >done</i>
          </button>
        </div>
    </form>

