<div id="kiko-slider">
  
    <ul class="slider">
      <li id="slide1">
        <h1>prueba </h1>
        <img src="https://thumbs.dreamstime.com/b/empresarios-en-seminario-70762576.jpg"/>
      </li>
      <li id="slide2">
        <img src="https://thumbs.dreamstime.com/z/seminario-11500915.jpg"/>
      </li>
      <li id="slide3">
        <img src="https://image.shutterstock.com/image-photo/banner-abstract-blurred-photo-conference-260nw-1336362089.jpg"/>
      </li>

    </ul>
    
    <ul class="menu">
      <li>
        <a href="#slide1">1</a>
      </li>
      <li>
        <a href="#slide2">2</a>
      </li>
      <li>
        <a href="#slide3">3</a>
      </li>
    </ul>
    
  </div> 

