
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
   <div class="navbar-header"></div>
    <ul class="nav navbar-nav">
      
      <li><a href="/paginaPrincipal/menu-lateral"></a></li>
      <li  class="/home"><a href="#">HOME</a></li>
      <li><a href="/evento">EVENTOS</a></li>
      <li class="dropdown"><a href="/about">SOBRE NOSOTROS</a>
        <ul class="dropdown-menu">
          <li><a href="#">Page 1-1</a></li>
      
        </ul>
      </li>
      <li><a href="/contacto">CONTACTO</a></li>
    
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/cliente/registrarse"><span class="glyphicon glyphicon-user"></span> Registrarse </a></li>
      <li><a href="/seguridad/iniciarSesion"><span class="glyphicon glyphicon-log-in"></span> Iniciar Sesión </a></li>
      <li><a (click)="onLogout()"><span class="glyphicon glyphicon-log-out"></span> Cerrar Sesión </a></li> 

    </ul>
  </div>
</nav>



 <!--
<div class="container">
  <h3>Navbar Forms</h3>
  <p>Use the .navbar-form class to vertically align form elements (same padding as links) inside the navbar.</p>
  <p>The .input-group class is a container to enhance an input by adding an icon, text or a button in front or behind it as a "help text".</p>
  <p>The .input-group-btn class attaches a button next to an input field. This is often used as a search bar:</p>
</div>


 -->
 <!--<nav class="nav-tot">
    
    <div class="nav-wrapper" >

     
     
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        
        <li><a class="tab" href="/seguridad/iniciarSesion">Iniciar sesión</a></li>
        <li><a class="tab" routerLink="/cliente/registrarse">Registrarse</a></li>
        <li><a class="tab" routerLink="/admin/registrarse">Registrarse Admin</a></li>
        <li><a class="tab" routerLink="#">Ver eventos disponibles</a></li>
      </ul>

      <ul id="nav-mobile" class="left hide-on-med-and-down">
      <nav>
        <div class="nav-wrapper">
          <form>
            <div class="input-field">
              <input id="search" type="search" required>
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </div>
      </nav>
    </ul>


    </div>
  </nav>--> 

<!-- codigo de buscador , adaptar a pantalla
    <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form> -->



