



<!--
<app-navbar> </app-navbar>
<app-menu-lateral></app-menu-lateral>
<app-navbar *ngIf="IsAuthenticated"> </app-navbar>

<app-navbar> </app-navbar>
<div ><app-menu-lateral ></app-menu-lateral> </div>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>


<router-outlet></router-outlet> 
<app-predeterminado></app-predeterminado>


<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>



<app-secciones-home></app-secciones-home>

<app-pie-pagina></app-pie-pagina>



-->


<app-navbar> </app-navbar>
<router-outlet></router-outlet> 
<app-menu-lateral></app-menu-lateral>
<app-navbar *ngIf="IsAuthenticated"> </app-navbar>


<app-secciones-home></app-secciones-home>

<app-pie-pagina></app-pie-pagina>
