
<div class="container-fluid">
  <footer class="page-footer" style="background-color: #3a4061;" >
    <div class="container">
      <hr class="my-5" />
      <section class="mb-5">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <p>
              Contacto: 098765432 <br>
            </p>
          </div>
        </div>
      </section>
     
        </div>
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2022 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/"
         >AV@gmail.com</a>
    </div>
  </footer>
</div>
