<br/>
<footer class="page-footer ">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="text">AV- Sistema de asignación y ventas</h5>
          <p class="grey-text text-lighten-4">Gracias por elegirnos</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="text">Links</h5>
          <ul>
            <li><a class="text" href="#!">Inicio</a></li>
            <li><a class="text" href="#!">Eventos disponibles</a></li>
            <li><a class="text" href="#!">Contacto</a></li>
            <li><a class="text" href="#!">Sobre Nosotros</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2022 Copyright Text
      <a class="text right" href="#!">More Links</a>
      </div>
    </div>
  </footer>