<div style="text-align: right;">
  <button type="button" name="buttonVoler" class="btn btn-primary"(click)="goBack()">Volver</button>
</div>
<form>
    <div class="container">
        <div class="row">
               <div id="custom-search-input">
       <div class="input-group col-md-12">
                   <span class="input-group-btn">
                         <button class="btn btn-danger" type="button">
                           <span class=" glyphicon glyphicon-search"></span>
                         </button>
                   </span>
               </div>
           </div>
         </div>
    </div>
      </form>
        <h6><i>LISTADO DE EVENTOS</i></h6>
        <br><br>
      <table class="table table-hover">
        <thead>
              <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Tipo</th>
                <th>Fecha y hora</th>
                <th>Duracion</th>
                <th>Calle Puerta</th>
                <th>Barrio</th>
                <th>Ciudad</th>
                <th>Precio</th>
                <th>Idioma</th>
                <th>Empresa</th>
                <th>Imagen</th>
                <th>Acciones</th>
              </tr>
          </thead>
          <tbody>
                <tr *ngFor="let evento of eventos">
                  <td>{{evento.nombre}}</td>
                  <td>{{evento.descripcion}}</td>
                  <td>{{evento.tipo}}</td>
                  <td>{{evento.fechaHora | date: 'dd/MM/yyyy h:mm a': 'timezone' }}</td> 
                  <td>{{evento.duracion}}</td>
                  <td>{{evento.callePuerta}}</td>
                  <td>{{evento.barrio}}</td>
                  <td>{{evento.ciudad}}</td>
                  <td>{{evento.moneda+evento.precioAsiento}}</td>
                  <td>{{evento.idioma}}</td>
                  <td>{{evento.empresaCreadora}}</td>
                  <td><img src={{evento.imagenPortada}} width="50" height="50"/></td>
                  <td><button type="button" name="buttonReserva" class="btn btn-primary" [routerLink]="['/evento/reservar', evento.eventoId]" [skipLocationChange]="true">Reservar</button></td>
                </tr>
          </tbody>
      </table>