
<div >
 <ul id="slide-out" class="sidenav">
  
    <li><div class="user-view">
      <div class="background">
        <img src="https://materializecss.com/images/office.jpg">
      </div>
      <a href="#user"><img class="circle" src="https://materializecss.com/images/sample-1.jpg"></a>
      <a href="#name"><span class="white-text name">Tu nombre</span></a>
      <a href="#email"><span class="white-text email">tumail@gmail.com</span></a>
    </div>
    
  </li>

    <li><a href="home">Home </a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">AV - Sistema de asignación y ventas</a></li>
    <li><a class="waves-effect" href="#!">Otro link</a></li>
  
  </ul>

</div>