<div>
 <ul id="slide-out" class="sidenav">
  
    <li *ngIf="jwtAuthService.estaLogeado()"><div class="user-view">
      <div class="background">
        <img src="https://materializecss.com/images/office.jpg">
      </div>
      <a href="#user"><img class="circle" src="https://materializecss.com/images/sample-1.jpg"></a>
      <a href="#name"><span class="white-text name">Tu nombre</span></a>
      <a href="#email"><span class="white-text email">tumail@gmail.com</span></a>
    </div>

  </li>
  

    <!-- <li><a href="home">Home </a></li> -->
    <li><a class="subheader">AV - Sistema de asignación y ventas</a></li><br>
    <li><div class="divider"></div></li>
    <li *ngIf="jwtAuthService.esCliente()"><a class="tab" routerLink="/evento/eventos-activos">Ver eventos disponibles</a></li>   
    <li *ngIf="jwtAuthService.esCliente()"><a class="tab" routerLink="/cliente/reservarAsientos">Reservar Asientos</a></li>
    <li *ngIf="jwtAuthService.esCliente()"><a class="tab" routerLink="/cliente/reservas-cliente">Ver mis Reservas</a></li>
    <li *ngIf="jwtAuthService.esCliente()"><a class="tab" routerLink="/cliente/editarPerfil">Editar Perfil</a></li>
    <li *ngIf="jwtAuthService.esAdmin()"><a class="tab" routerLink="/admin/registrarse">Registrar Admin</a></li>
    <li *ngIf="jwtAuthService.esAdmin()"><a class="tab" routerLink="/listadoEvento/listadoEvento">Ver todos los Eventos</a></li>
    <li *ngIf="jwtAuthService.esAdmin()"><a class="tab" routerLink="/evento/crearEvento">Crear Eventos</a></li>
    <li><a class="tab" routerLink="/comprobanteDePago">Ingresar Pago</a></li>
    <li *ngIf="jwtAuthService.esAdmin()"><a class="tab" routerLink="/listadoReserva/listadoReserva">Ver todos las Reservas</a></li>
    <li *ngIf="jwtAuthService.esAdmin()"><a class="tab" routerLink="/asignacionManualAsientos/:id">Asignación Manual de Asientos</a></li>
    <li *ngIf="jwtAuthService.esAdmin()"><a class="tab" routerLink="/admin/VerAsignaciónDeMesas">Ver Asignación de Mesas</a></li>
    <li *ngIf="jwtAuthService.esCliente()"><a class="waves-effect" href="/seguridad/cambiarClave">Cambiar clave</a></li>
    <li><a href = "home" class="modal-close waves-effect waves-green btn-flat">Close</a></li>
    
  </ul>

</div>