<div >
 <ul id="slide-out" class="sidenav">
  
    <li ><div class="user-view">
      <div class="background">
        <img src="https://materializecss.com/images/office.jpg">
      </div>
      <a href="#user"><img class="circle" src="assets/imagenes/a.jpg"></a>
      <li *ngIf="recargar()"><a class="white-text name">{{rol}}</a></li>
      <li *ngIf="recargar()"><a class="white-text email">{{correo}}</a></li>
    </div>

  </li>
  

    <!-- <li><a href="home">Home </a></li> -->
    <li><a class="subheader">AV - Sistema de asignación y ventas</a></li><br>
    <li><div class="divider"></div></li>
    <li *ngIf="jwtAuthService.esClienteOInvitado()"><a class="tab" routerLink="/evento/eventos-activos">Ver Eventos Disponibles</a></li> 
    <li *ngIf="jwtAuthService.esCliente()"><a class="tab" routerLink="/cliente/reservas-cliente">Ver mis Reservas</a></li>
    <li *ngIf="jwtAuthService.esCliente()"><a class="tab" routerLink="/editar-cliente/editar-cliente">Editar Perfil</a></li>
    <li *ngIf="jwtAuthService.esAdmin()"><a class="tab" routerLink="/admin/registrarse">Registrar Administrador</a></li>
    <li *ngIf="jwtAuthService.esAdmin()"><a class="tab" routerLink="/listadoEvento/listadoEvento">Ver todos los Eventos</a></li>
    <li *ngIf="jwtAuthService.esAdmin()"><a class="tab" routerLink="/evento/crearEvento">Crear Eventos</a></li>
    <li *ngIf="jwtAuthService.estaLogeado"><a class="tab" routerLink="/seguridad/cambiarClave">Cambiar Contraseña</a></li>
    <li *ngIf="jwtAuthService.esCliente()"><a class="tab" routerLink="/cliente/eliminarCuenta">Eliminar Cuenta</a></li>

  </ul>

</div>