
      <h6><i>LISTADO DE RESERVAS</i></h6>
      <br><br>
    <table class="table table-hover">
      <thead>
            <tr>
              <th>ID de Reserva</th>
              <th>Nombre Cliente</th>
              <th>Nombre Evento </th>
              <th>Estado de Reserva</th>
              <th>Cantidad de Reservas</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reserva of reservas">
                <td>{{reserva.idReserva}}</td>
                <td>{{reserva.nombreEmpresa}}</td>
                <td>{{reserva.evento.nombre}}</td>
                <td>{{reserva.estadoReserva}}</td>
                <td>{{reserva.cantidadReservas}}</td>
                <td><button type="button" name="button" class="btn btn-primary" [routerLink]="['/reserva/eliminar-reserva']" >Gestionar Pago</button></td>
                <td><button type="button" name="button" class="btn btn-primary" [routerLink]="['/asignacionManualAsientos', reserva.idReserva]" [skipLocationChange]="true">Asignar asientos</button>

              </tr>
        </tbody>
    </table>
